<%- include("partials/header"); -%>    

<div class="row">
  <div class="col-md-offset-5 col-md-4 text-center">
      <h1 class='text-white'>Weather App</h1>
        <div class="form-login"></br>
            <div class="wrapper">
                <span class="group-btn">
                    <a href="/register" class="btn btn-danger btn-md">REGISTER</a>
                </span>
            </div>
          </br></br>
          <div class="wrapper">
                  <span class="group-btn">
                      <a href="/Login" class="btn btn-danger btn-md">LOGIN</a>
                  </span>
          </div>
      </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<%- include("partials/footer"); -%>