<%- include("partials/header"); -%>    

<div class="row">
  <div class="col-md-offset-5 col-md-4 text-center">
      <h1 class='text-white'>Weather APP</h1>
        <div class="form-login"></br>
          <h4   style="font-family: sans-serif">Weather App Login</h4>
          </br>
          <form action="/login" method="POST">
          <input type="text" name="userName" class="form-control input-sm chat-input" placeholder="email"/>
          </br></br>
          <input type="password" name="userPassword" class="form-control input-sm chat-input" placeholder="password"/>
          </br></br>
          <div class="wrapper">
                  <span class="group-btn">
                    <button type="submit" class="btn btn-danger btn-md" style="border-radius: 24px">Login  <i class="fa fa-sign-in"></i></a></button> 
                  </span>
          <form action="/login" method="POST">
          </div>
      </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<%- include("partials/footer"); -%>