<%- include("partials/header"); -%>    

<div class="row">
  <div class="col-md-offset-5 col-md-4 text-center">
      <h1 class='text-white'>Weather APP</h1>
        <div class="form-login"></br>
          <h4>App Registration</h4>
          </br>
          <form action="/register" method="POST">
          <input type="text" class="form-control input-sm chat-input" placeholder="email" name="username"/>
          </br></br>
          <input type="password" class="form-control input-sm chat-input" placeholder="password" name="password"/>
          </br></br>
          <div class="wrapper">
                  <span class="group-btn">
                    <button type="submit" class="btn btn-danger btn-md">Register</button>
                  </span>
            </form>
          </div>
      </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<%- include("partials/footer"); -%>